ul.is-style-checkbox {
    list-style: none;
}
ul.is-style-checkbox li:before {
    content: '\2714\0020';
    margin-right: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
}
.entry-content ul.is-style-checkbox li {
    line-height: 1.476;
    display: flex;
}

.accomplishments {
    background: #efefef;
    padding: 20px;
}

figure.top-img {
    margin-top: 0 !important;
}

p {
    font-family: mr-eaves-modern, sans-serif !important;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.25 !important;
}

.bph {
    padding-bottom: 2rem;
}

.title-inner {
    font-size: 1.9rem;
}

.pit {
    padding: 3rem 0;
}

.next-post {
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.previous-post {
    flex-direction: row;
    justify-content: flex-start;
}

.blog-list {
    width: 100%;
    margin: 0;
}